.container{
    display: grid;
    /* 3 x 2 */
    grid-template: repeat(3,200px) / repeat(2, 200px);
    border: 3px solid green;
}
.box{
    width: 9rem;
    height: 9rem;
    background-color: gold;
}